*{
	//font-size: 12px;
	font-family: "Calibri";
	margin: 0px;
}

#sidebar {
	opacity: 0.5;
    width:30px;
    float:right;
}
#sidebar nav {
	text-decoration: none;
    width:80px;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 8px;
}

#sidebar nav.stick {
	text-decoration: none;
	border-radius: 5px;
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:250px;
	margin-bottom: 100px;
}

#sidebar nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
	text-decoration: none;
}

#sidebar nav li:after {
	text-decoration: none;
}

#sidebar nav li a {
	text-decoration: none;
    color:rgb(50,50,50);
    font-weight:700;
}

#sidebar li a:hover {
    text-decoration: none;
}

#sidebar a.nav-active {
    color:#CCC;
	text-decoration: none;
}
.carousel-inner img{
	width: 100%;
	opacity: 0.5;
}

#myCarousel a img:hover{
	opacity: 1;
}

.navbar {
	border-color: #28324E;
	background-color: #28324E;
}

.navbar .dropdown a:hover{
	background-color: #2980b9 !important;
}

.navbar .dropdown-toggle :active{
	background-color: #2980b9 !important;
}

.navbar a{
	color:white !important;
}

.navbar-nav a:focus{
	background-color: #28324E;
}

.dropdown-menu a{
	color: #28324E !important;
}

.barrier{
    padding: 20px 60px 20px 60px;
}

.dropdown-menu a:active{
	color: #28324E !important;
}

.dropdown-menu{
	border-color: #FFFFFF;
}

.btn-default{
	background-color: #28324E;
	border: 0px;
}

.glyphicon-search{
	color:white;
}

html, body {
height: 100%;
background-color: #28324E;
color: #FFFFFF;
}
 
#wrap {
min-height: 100%;
}
 
#main {
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}
 
.footer {
color: #FFFFFF;
background-color: #1b2235;
position: relative;
clear:both;
padding-top: 0px;
}

.contentpictsize{
	margin: 20px 10px 10px -20px;
	width: 120px;
	height: 120px;
}

.setcontent{
	padding: 90px 10px 120px 60px;
	width: 100%;
}

#content1{
	background-color: #28324e;
}

.deskripsicontent{
	padding: 0px 0px 0px 0px;
}

.deskripsicontent h3{
	font-size: 50px;
    padding-left: 30px;
}

.deskripsicontent h1{
	font-size: 70px;
}

.btnmenukanan{
	margin-top: -70px;
	padding-right: 240px;
}

.deskripsicontent p{
	font-size: 20px;
}

#content2{
	background-color: #1b2235;
}

#content3{
	background-color: #34495e;
}

img.displayed{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.kontakkami{
	position: relative; 
	width: 100%;
}

.btn-primary{
	color: #1b2235;
	border-color: white;
	border-width: medium;
	background-color: white;
	font-size: 30px;
	border-radius: 30px;
	position: absolute;
	width: 300px;
	 height: 60px;
	 top: 0;
	 left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	opacity: 0.5;
}

.btn-primary:hover{
	opacity: 1;
}

realcontent ul{
    display: list-item;
}


#btnmenu ul li{
	display: inline;
}

.footer ul li{
	list-style: none;
}

h2{
	position: absolute; 
   top: 2000px; 
   left: 0; 
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

#footercopyright{
	padding-top: 20px;
	height: 20px;
	background-color: #28324e !important;
	align-content: center !important;
}

.bgfooter{
    background-color: #28324E;
}

.btn-danger{
	background-color: #2980b9;
	border: hidden;
}
.listrecent{
	margin-left:-40px;
	margin-bottom: -180px;
	padding-bottom: 200px;
}

a:hover{
	text-decoration: none;
}

.textcontent{
	color: white;
}

form input{
	color: black;
}
textarea{
	color: black;
	resize: none;
	height: 200px;
	width: 800px;
}


.listrecent2{
	margin-left:-15px;
	margin-bottom: -180px;
	padding-bottom: 200px;
}
#judul{
    border-radius: 20px;
	background-color: #34495e;
	color: white;
	padding: 90px 60px 40px 60px;
	width: 80%;
}
#isicontent{
    border-radius: 20px 20px 0px 0px;
	background-color: #34495e;
	color: white;
	padding: 10px 10px 20px 10px;
	width: 80%;
}
.realcontent{
    padding: 5px 30px 10px 30px;
    font-size: 15px;
}
.realcontent ol{
	padding-left: 20px;
}